@import "small-cards.css";
@import "long-cards.css";
@import "total-price.css";

:root {
    --hover-color: #ad4200;
    --hilight-color: #FFA542;
    --pagebg-color: #EAEAEA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: var(--pagebg-color);
    color: black;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.header_wrapper {
    position: fixed;
    background-color: var(--pagebg-color);
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 1rem;
    z-index: 2000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    /* position: fixed; */
    background-color: var(--pagebg-color);
    /* background-color: rgb(243, 187, 187); */
    width: 100%;
    /* max-width: 1110px; */
    /* margin: 0 auto; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* z-index: 9999; */
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-right: 8px;
}

.header__icon {
    position: relative;
}

.header__icons img {
    display: block;
    width: 22px;
    height: 22px;
}

.icon__counter {
    position: absolute;
    top: -10px;
    right: -16px;
    background-color: var(--hilight-color);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    font-size: 14px;
    z-index: 1000;
}

.displaynone {
    display: none;
}

.icon__bg {
    position: absolute;
    top: -9px;
    left: -9px;
    background-color: unset;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    z-index: -1;
}

.header__icon:hover .icon__bg {
    background-color: rgb(255 224 196);
}

footer {
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0px 0px;
    padding: 30px;
    margin-top: 3rem;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.services__line {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.services__line a {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #101010;
}

.services__lang-active {
    color: var(--hilight-color) !important;
    font-weight: 700 !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
}

nav ul {
    list-style-type: none;
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #838383;
    margin-top: 28px;
    margin-bottom: 20px;
}

.h2-dark {
    color: #1C1C27;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    color: #101010;
}

.logo a:hover {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
    padding-top: 3rem
}

.footer_soc-icons {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.footer_soc-icons img {
    display: block;
    width: 32px;
    height: 32px;
}

.footer_soc-icons img:hover {
    filter: brightness(6);
}